USE [master]
GO
/****** Object:  Database [TicketPulse]    Script Date: 02/07/2025 21:06:14 ******/
CREATE DATABASE [TicketPulse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketPulse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TicketPulse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketPulse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TicketPulse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketPulse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketPulse]
GO
/****** Object:  Table [dbo].[AsistenciaConciertos]    Script Date: 02/07/2025 21:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaConciertos](
	[IdAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdConcierto] [int] NOT NULL,
	[FechaAsistencia] [date] NULL,
	[Cantidad] [int] NULL,
	[FechaCompra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conciertos]    Script Date: 02/07/2025 21:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conciertos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[Lugar] [varchar](100) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Provincia] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/07/2025 21:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[FechNac] [date] NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Contr] [varchar](255) NOT NULL,
	[Nivel] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsistenciaConciertos] ADD  DEFAULT (getdate()) FOR [FechaAsistencia]
GO
ALTER TABLE [dbo].[AsistenciaConciertos]  WITH CHECK ADD FOREIGN KEY([IdConcierto])
REFERENCES [dbo].[Conciertos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsistenciaConciertos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
